 {% extends 'layout.html' %} {% block body %}
<!-- ******PROMO****** -->
<section id="promo" class="promo section">
    <div class="container intro">
        <h2 class="title">Building Congruencies between Industries and Academia</h2>
        <p class="summary">A collaborative platform focuses on connecting Students with Industries for leading Innovations.</p>
        <!-- <a class="btn btn-cta btn-cta-secondary" href="tour.html">Learn More</a> -->
    </div>
    <!--//intro-->

    <div class="fixed-container">
        <div class="signup">
            <div class="container text-center">
                <h3 class="title">Get in Now</h3>
                <p class="summary">Sign up to know more.</p>
                <form class="signup-form">
                    <div class="form-group">
                        <label class="sr-only" for="semail1">Your email</label>
                        <input type="email" id="semail1" name="semail1" class="form-control" placeholder="Enter your email address">
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
                </form>
                <!--//signup-form-->
            </div>
            <!--//contianer-->
        </div>
        <!--//signup-->
        <div class="social text-center">
            <div class="container">
                <span class="line">Love Sethu? Spread the word:</span>

                <!--//twitter tweet button code starts -->
                <div class="twitter-tweet">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="sethu" data-hashtags="IndustryToAcedemia">Tweet</a>
                    <script>
                        ! function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');
                    </script>
                </div>
                <!--//twitter tweet button code ends -->

                <!--//facebook like button code starts-->
                <!-- <div class="fb-like" data-href="http://themes.3rdwavemedia.com/tempo/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" ></div> -->
                <!--//facebook like button code ends-->
            </div>
        </div>
        <!--//social-->
    </div>
    <div class="bg-slider-wrapper">
        <div id="bg-slider" class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div>
    <!--//bg-slider-wrapper-->
</section>
<!--//promo-->

<!-- ******Industry partners****** -->
<div class="press">
    <div class="container text-center">
        <div class="row">
            <p class="intro text-center"> INDUSTRY PARTNERS </p>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <ul class="list-unstyled press-list">
                {% for industry_partner in data.industry_partners %}
                <li class="col-md-2 col-sm-4 col-sm-6 col-xs-6 press-item">
                    <a href="{{ industry_partner.link }}">
                        <img class="img-fluid" src="{{ industry_partner.thumbnail }}" alt="">
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!--//press-->

<!-- ******WHY****** -->
<section id="why" class="why section">
    <div class="container">
        <h2 class="title text-center">Why Sethu</h2>
        <p class="intro text-center"></p>
        <div class="row">
            <div class="benefits col-md-6 col-sm-6 col-xs-12">

                <div class="item clearfix">
                    <div class="icon col-md-3 col-xs-12 text-center">
                        <span class="pe-icon pe-7s-rocket"></span>
                    </div>
                    <!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Brings you consectetuer adipiscing elit</h3>
                        <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the
                            500+
                            <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. </p>
                    </div>
                    <!--//content-->
                </div>
                <!--//item-->

                <div class="item clearfix">
                    <div class="icon col-md-3  col-xs-12 text-center">
                        <span class="pe-icon pe-7s-users"></span>
                    </div>
                    <!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Connect lectus ultricies dolor vulputate</h3>
                        <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the
                            500+
                            <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. </p>
                    </div>
                    <!--//content-->
                </div>
                <!--//item-->


                <!-- <div class="clearfix"></div> -->

            </div>
            <div class="benefits col-md-6 col-sm-6 col-xs-12">
                <div class="item clearfix">
                    <div class="icon col-md-3  col-xs-12 text-center">
                        <span class="pe-icon pe-7s-piggy"></span>
                    </div>
                    <!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">No more velit tristique condimentum</h3>
                        <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the
                            500+
                            <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. </p>
                    </div>
                    <!--//content-->
                </div>
                <!--//item-->
                <div class="item clearfix">
                    <div class="icon col-md-3  col-xs-12 text-center">
                        <span class="pe-icon pe-7s-bicycle"></span>
                    </div>
                    <!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Liberate vulputate eleifend tellus</h3>
                        <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the
                            500+
                            <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. Cras
                            pharetra turpis pharetra iaculis euismod.</p>
                    </div>
                    <!--//content-->
                </div>
                <!--//item-->
            </div>
        </div>
        <!--//row-->
        <div class="row">
            <div class="text-center">
                <a class="btn btn-cta btn-cta-secondary" href="/student">Learn how it works</a>
            </div>
        </div>
    </div>
    <!--//container-->
</section>
<!--//why-->

<!-- ******College****** -->
<section id="college" class="video section">
    <div class="container">
        <h1 class="title">Upskill and make your students
            <br> employable with Sethu</h1>
        <p class="summary">Launch your community today and see how upskilling your students elevates their hiring propensity.</p>

        <br>
        <!-- Questions section -->
        <div class="more-quests text-right">
            <h4 class="">Questions?</h4>
            <a class="btn btn-cta btn-cta-secondary" href="/college">Know more</a>
            <!-- <a class="btn btn-cta btn-cta-secondary" href="/contactUs">Get in touch</a> -->
        </div>
    </div>
    
    </div>
</section>
<!--//video-->



<!-- ******Enterprise****** -->
<section id="Enterprise" class="signup">
    <div class="container text-center">
        <h2 class="title">Kickstart your research projects with the the power of crowdsourcing.</h2>
        <p class="summary">Turn your ideas into unique and original challenges to entice the best minds to work on them. Through this crowdsourced
            approach to innovation, you get access to the most creative solutions.</p>
        <button type="button" class="btn btn-cta btn-cta-primary">Know more</button>
    </div>
</section>
<!--//signup-->
{% endblock %}